@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Questrial-Regular.ttf');
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

.imgManga {
	text-align: center;
	margin: 20px 0;
	clear: both;
}

h1 a {
	color: #2B2B2B;
	font-family: 'Questrial', arial;
	text-decoration: none;
}
